.footer {
    background: linear-gradient(135deg, #4ECDC4, #556270); 
    color: white;
    text-align: center;
    padding: 30px 20px;
    font-size: 1rem;
    margin-top: 50px;
  
    &__text {
      margin: 0;
    }
}