*{
    box-sizing: border-box;
}


.news-blurb{
    width: 750px;
    height: 300px;
    border: 1px solid red;
    box-shadow: 3px 3px 10px rgb(255, 0, 0);
}


.news-blurb figure{
    display: inline-block;
    border-left: 2px solid rgba(128, 128, 128, 0.259);
    padding-left: 25px;
    width: 40%;
    text-align: center;
}


.news-blurb .text-side{
    float: left;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    height: 300px;
    width: 45%;
    text-align: center;
}

.news-blurb .text-side h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
}


.news-blurb .text-side p{
    font-size: 1.5em;
}


.news-blurb .text-side button{
    padding: 7px 15px;
    font-size: 1.1em;
    border-radius: 15px;
}

figure img{
    width: 300px;
    border: 2px solid blue;
}

figure figcaption{
    color: grey;
    font-style: italic;
}